<div class="header">
  <div class="col-xs-12">
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" (click)="onselect('recipe')">
        Recipe
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" >Add Recipe</a>
          <a class="dropdown-item" href="#">Show Recipe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Others</a>

        </div>
      </li>
      <li><a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"(click)="onselect('shoppinglist')">
        Shopping
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add Shoppingitem</a>
          <a class="dropdown-item" href="#">Show Item</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Others</a>

        </div>
      </li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</div>
<!-- <div class="container-fluid h-100 bg-warning">
  <div class="row h-100">
    <div class="col col-12 h-100">
      <div class="row h-10">
        <div class="col col-12 bg-danger">

        </div>
      </div>
      <div class="row h-90">
        <div class="col col-6">
          <div class="d-table h-100 w-100">
            <div class="d-table-cell h-100 w-100 align-top text-right">
              <p>Vijayendar</p>
            </div>
          </div>
        </div>
        <div class="col col-6">
          <p>Athavan</p>
          <button (click)="goToRecipe()">Recipe</button>
        </div>
      </div>
    </div>
  </div>
</div> -->