*{
  margin: 0;
  padding-left: 20px;
  box-sizing: border-box;
}
ul{
  height:100%;
  background-color: aqua;
  list-style-type:none ;
  font-family: Georgia;
  font-max-size: 100%;
  font-size: 30px;
}
.header{
  height:75px;
  background-color: aqua;
  animation:vj 1s infinite;
}
@keyframes vj {
  0% {
opacity: 0;
background-color: red;
  }
50%{
  opacity: 0.5;
  background-color: greenyellow;
}
100%{
opacity: 1;
  background-color: aqua;
}


}
li{
  float: left;
  padding: 10px;
  color: red;
}
