<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brands">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto"> 
     <li ><a class="nav-link"href="#" (click)="onselect('recipe')">recipe</a> </li>
        <li><a href="#" class="nav-link" (click)="onselect('shoppinglist')">shopping list</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    <li class="dropdown " appDropdown>
      <a href="#" class="dropdown-toggle " role="button">manage recipe</a>
    <ul class="dropdown-menu">
      <li><a href="#">save data</a> </li>
      <li><a href="#">fetch date </a> </li>
    </ul>
    </li>
  </ul>
    </div>
    </div>
</nav>



