/* You can add global styles to this file, and also import other style files */
/* .background_vijay{
 height: 100px;
  background-color:limegreen;
} */


.h-10 {
  height: 10% !important;
}
.h-90 {
  height: 90% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
